body {
    width: 800px;
    margin: auto;
}

#bml-input {
    width: 100%;
    min-height: 300px;
}

#wrapper {
    display: flex;
}

.left-half {
    flex: 0 0 50%;
    min-height: 600px;
    border: 1px solid black;
}

.right-half {
    flex: 1;
    min-height: 600px;
    border: 1px solid black;
}

#bml-highlighted {
}

#bml-preview {
}
